In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.8/43.8 kB 2.1 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [2]:
import os
import sqlalchemy
SQLALCHEMY_SILENCE_UBER_WARNING = 1
import pandas as pd

In [3]:
beers_path = "https://raw.githubusercontent.com/sugus-labs/data-science-the-bridge/main/2-data-analysis/2-Pandas/Ejercicios/datasets_beers.csv"
breweries_path = "https://raw.githubusercontent.com/sugus-labs/data-science-the-bridge/main/2-data-analysis/2-Pandas/Ejercicios/datasets_breweries.csv"

In [6]:
def connect_tcp_socket() -> sqlalchemy.engine.base.Engine:
    """ Initializes a TCP connection pool for a Cloud SQL instance of MySQL. """
    db_host = '34.132.212.141'
    db_user = 'root'
    db_pass = '123456'
    db_name = 'main'
    db_port = '3306'

    engine = sqlalchemy.create_engine(
        sqlalchemy.engine.url.URL.create(
            drivername="mysql+pymysql",
            username=db_user,
            password=db_pass,
            host=db_host,
            port=db_port,
            database=db_name,
        ),
    )
    return engine

In [7]:
engine = connect_tcp_socket()
conn = engine.connect()

In [8]:
result = conn.execute("SHOW TABLES;").fetchall()
for r in result:
    print(r)

In [9]:
beer_df = pd.read_csv(beers_path)

In [10]:
beer_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2410 entries, 0 to 2409
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2410 non-null   int64
 1   abv         2348 non-null   float64
 2   ibu         1405 non-null   float64
 3   id          2410 non-null   int64
 4   name        2410 non-null   object
 5   style       2405 non-null   object
 6   brewery_id  2410 non-null   int64
 7   ounces      2410 non-null   float64
dtypes: float64(3), int64(3), object(2)
memory usage: 150.8+ KB

In [11]:
beer_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [12]:
beer_df.to_sql(name = "beer", con = conn, if_exists = 'replace', index = False)

2410

In [13]:
result = conn.execute("SHOW TABLES;").fetchall()
for r in result:
    print(r)

('beer',)

In [14]:
result = conn.execute("SELECT * FROM beer LIMIT 10;").fetchall()
# beer_df = pd.DataFrame(result)
for r in result:
    print(r)

(0, 0.05, None, 1436, 'Pub Beer', 'American Pale Lager', 408, 12.0)
(1, 0.066, None, 2265, "Devil's Cup", 'American Pale Ale (APA)', 177, 12.0)
(2, 0.071, None, 2264, 'Rise of the Phoenix', 'American IPA', 177, 12.0)
(3, 0.09, None, 2263, 'Sinister', 'American Double / Imperial IPA', 177, 12.0)
(4, 0.075, None, 2262, 'Sex and Candy', 'American IPA', 177, 12.0)
(5, 0.077, None, 2261, 'Black Exodus', 'Oatmeal Stout', 177, 12.0)
(6, 0.045, None, 2260, 'Lake Street Express', 'American Pale Ale (APA)', 177, 12.0)
(7, 0.065, None, 2259, 'Foreman', 'American Porter', 177, 12.0)
(8, 0.055, None, 2258, 'Jade', 'American Pale Ale (APA)', 177, 12.0)
(9, 0.086, None, 2131, 'Cone Crusher', 'American Double / Imperial IPA', 177, 12.0)